
@if (!group) {
    <p>Loading group...</p>
} 

@else if (!UserId) 

{
        <h2> Welcome to {{group.name}}</h2>
        <p>Start creating an user</p>
        <input type="text" placeholder="Username"
        [(ngModel)]="userName"
        /> 
        <button (click)="saveUserId()">Join Group</button>
}       

@else 
    {
        <div class="dashboard">
        <header>
          <h1>📅 {{ group.name }}   </h1>
          <div class="user-badge">Logged as: <strong>{{ UserId }}</strong></div>
        </header>

        <div class="content">
  


              <app-heatmap-component [groupId]="group.groupId"/>

              <app-calendar-component [userId]="UserId"/>
      
        </div>
      </div>
    }