.calendar-grid {
  display: grid;
  grid-template-columns: 130px repeat(7, 1fr); 
  gap: 2px; 
  background-color: #dee2e6; 
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden;
  user-select: none; 
  
}

.calendar-header {
    display: flex;
    justify-content: space-between;
}

.btn-group {
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out;
}

.text-group {
  display: flex;
  align-items: center;
  gap: 1em;
}



.btn {
    height: 50%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;

}

.btn:hover {
    opacity: 0.9;
}

.btn-save {
    background-color: #88f4a1;
}

.btn-clear {
    background-color: #f79191;
}

.header-cell, .hour-label {
  background-color: #f8f9fa;
  padding: 10px 5px;
  text-align: center;
  font-weight: 600;
  color: #495057;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.hour-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.slot-cell {
  height: 100%;
  background-color: white;
  cursor: pointer;
  transition: all 0.1s ease;
}

.slot-cell:hover {
  background-color: #e9ecef;
}

.slot-cell.selected {
  background-color: #22ba46;
}

